<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/article/<%=co.id %>?_method=PATCH" method="POST">
        
        <h4> New Article</h4>
        <label>
          Title
        </label>
        <br>
        <input type="text" for="title" name="title" placeholder="this is a new article">
        <br>
        <label>
            Description
        </label>
        <br>
        <textarea for="desc" name="desc"></textarea>
        <br>
        <label>
            MarkDown
        </label>
        <br>
        <textarea for="mark" name="mark"></textarea>
        
        <button type="submit">UPDATE</button>

    </form>
</body>
</html>